* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #1d2025;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2025;
    position: relative;
    padding: 25px 20px ;
    
}

.logo img {
    width: 100px;
}

#navlinks {
    list-style: none;
    display: flex;
}

#navlinks li {
    margin-left: 20px;
}

#navlinks a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.nav_items:hover{
    color: aquamarine;
    
}
.button{
    background-color: aquamarine;
    padding: 7px;
    color: white;
    border-radius: 15px;
    
}

.nav-active {
    display: flex;
}

.front_page{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 40px;
    min-width: 200px;
    height: 500px;
    display: flex;
    align-items: center;

}
.fingertips{
    color: aquamarine;
}
.menu-icon{
    display: none;
}
.menu-icon i{
    color: white;
    font-size: 30px;
    
}
@media (max-width:600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #1d2025;
        gap:0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-icon{
        display: block;
    }
#navlinks{
    transition: all 0.5s;
}
}
